<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
		
		<header class="bg-info">
			<div class="h-100 d-flex justify-content-between align-items-center mx-4">
				<!-- logo -->
				<div>
					<h1>Marondalgram</h1>
				</div>
				
				<!--  로그인 -->
				<!-- session 정보 있을 시 -->
				<div th:if="${session.userLoginId != null}">
					<span th:text="${session.userLoginId} + '님 안녕하세요.'"></span>
					<a href="/user/sign-out">로그아웃</a>
				</div>
				
				<!--  session 정보 없을 시 -->
				<div th:unless="${session.userLoginId != null}">
					<a href="/user/sign-in-view">로그인</a>
				</div>
				
			</div>
		</header>
		
</th:block>


</html>